html,
body,
.main-section {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.left-side {
  flex: 0.4;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2291E9;
  text-align: center;
  padding: 30px;
  border-radius: 12px;
  margin: 20px;
}

.left-side .logo {
  width: 330px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 100px;
}

.left-side .subtitle {
  font-size: 2.3rem;
  color: #2291E9;
  margin-bottom: 15px;
  font-weight: 700;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.left-side .title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10px;
  color: #2291E9;
}

.left-side p {
  color: #ececec;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 20px;
}

.right-side {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
}

.container {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 15px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 20px 40px rgba(30, 144, 255, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #1e90ff;
  background-color: #ffffff;
  color: #1e1e2f; /* texto sempre escuro */
  font-size: 1rem;
  transition: all 0.2s ease;
}

.input:focus,
.textarea:focus {
  outline: none;
  border: 1px solid #0057ad;
  box-shadow: 0 0 10px rgba(30, 144, 255, 0.4);
  background-color: #ffffff;
  color: #1e1e2f; /* texto escuro em foco */
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: #1e1e2f !important; /* texto escuro no autofill */
}

.textarea {
  min-height: 100px;
  resize: none;
}

.button {
  background-color: #0066ff;
  color: #f8f8ff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #1c3bc5;
}

.right-side .form-logo {
  width: 220px;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
}

.right-side .title-label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #2291E9;
  margin-left: 10px;
}

.credit {
  font-size: 0.6rem;
  margin: 2px 0;
  line-height: 1.1;
  text-align: center;
  color: #555;
}
