.footer {
    padding: 15px 10px;
    background-color: #2424249d;
    color: #e0e0e0;
    margin-top: 40px;
    font-size: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.footer p {
    margin: 0 auto;
    line-height: 1.4;
    max-width: 700px;
}
